# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.venv/
venv/

db.sqlite3
media/
staticfiles/

.env
*.env

.vscode/
.idea/

*.log

celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
celerybeat.pid
