services:
  backend:
    build:
      context: .
      dockerfile: ./docker/backend/Dockerfile
    container_name: backend
    env_file: .env
    volumes:
      - ./backend:/app/backend
      - ./docker/backend/entrypoint.sh:/app/entrypoint.sh:ro
    working_dir: /app/backend/src
    command: ["/bin/bash", "/app/entrypoint.sh"]
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: ../docker/frontend/Dockerfile
    container_name: frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
      WDS_SOCKET_PORT: "0"
    command: ["npm", "start"]
    ports:
      - "3000:3000"

  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/nginx.dev.conf:/etc/nginx/nginx.conf:ro
